body,html,div,a,h2,img,span,p,i {
	padding: 0;
	margin: 0;
}
body,html {
	font-size: 62.5%;
}
a {
	text-decoration: none;
	color: #000;
	font-size: 1.4rem;
}
.clearfix::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}
.teacher {
	position: relative;
	top: 51px;
	z-index: 12;
}
.teacher>a:first-child>div{
   border-top: 0.7rem solid #f1eae5;
}
.list-about {
	position: relative;
	width: 100%;
	background: #fff;
	z-index: 12;
	/*border-bottom: 0.7rem solid #f1eae5;*/
}
.active {
	display: block;
}
.list-tab .come {
	display: none;
}
.show {
	display: block;
}
.sub-bg {
	color: #52c644 !important;
}
.box-fixed {
	position: fixed;
	width: 100%;
	height: 0;
	z-index: 13;
	top: 0;
}
.list-tab {
	/*position: absolute;
	width: 100%;
	top:10px;*/
	/*background: rgba(0,0,0,0.4);*/
	height: 100%;
}
.list-tab>div {
	position: relative;
	border-top: 1px solid #dde2f0;
	width: 100%;
	padding: 2rem 2%;
	background: #fff;
	box-sizing:border-box;
	z-index: 13;
}
.hide {
	display: none;
}
.list-tab>div>a {
	display: inline-block;
    width: 20%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    margin: 0.5rem 2%;
    /*padding: 2rem 0;*/
    background: #f5f5f5;
    color: #666;
    font-size: 1.6rem;
}
.list-about>span {
	display: inline-block;
	width: 32.5%;
	text-align: center;
	font-size: 1.6rem;
	border-right: 1px solid #dde2f0;
	line-height: 25px;
	margin: 0.8rem 0;
}
.list-about>span:last-child {
	border-right: none;
}
.list-about>span>i {
	display: inline-block;
	float: right;
	width: 0;
	height: 0;
	position: relative;
	top: 1rem;
	right: 1.5rem;
	border-top: 4px solid #040000;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
/*.list-about .hh1:first-child {
	display: none;
}
.list-about .hh2:-child {
 	display: none;
}*/
/*.box-fixed>div:first-child {
	display: none;
}
.box-fixed>div:last-child {
	display: none;
}
.list-about>span:last-child {
	display: none;
}*/
/*.tab1:last-child, .tab2:last-child, .tab3:last-child {
	display: none;
}*/
.active {
	display: block;
}
